<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring_shopping.dao.member.MemberDao">

    <resultMap id="memberMap" type="com.example.spring_shopping.vo.member.MemberVo">
        <id column="member_id" property="memberId" />
        <result column="member_name" property="memberName" />

    </resultMap>

    <select id="selectMemberAllList" resultMap="memberMap">
        SELECT *
        FROM MEMBER
    </select>

    <select id="selectDbTest" resultType="String">
        SELECT SYSDATE FROM DUAL
    </select>

</mapper>